.card-gateway {
  background: $color-dark-800;
  border: 0;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 20px 0 rgba($color-green, 0.1);
  border-radius: 0.8rem;
  margin-top: 2rem;
  text-align: center;

  .card-header {
    padding: 15px 15px 0;
    border: 0;
    color: rgba($white, 0.8);
    background: $fg-green-dark;
    border-radius: 0.8rem 0.8rem 0 0;

    .card-title {
      font-size: 2.8rem;
      font-weight: 100;
      margin-bottom: 0;
      margin-top: 1rem;
      color: $color-green;
    }

    .badge-default {
      color: rgba($white, 0.8);
      background-color: $color-dark-800;
      padding: 0.6rem;
      box-shadow: 0 1px 20px 0 rgba($black, 0.1);
    }

    h5 {
      line-height: 1.8em;
      margin-bottom: 1rem;
      font-weight: 400;
      font-size: 0.8rem;
    }
  }

  .card-body {
    flex: 1 1 auto;
    text-align: center;

    ul {
      list-style: none;
      padding: 0;
      max-width: 240px;
      margin: 0.8rem auto;

      li {
        text-align: center;
        font-size: 0.9rem;
        padding: 12px 0;
        border-bottom: 1px solid rgba($color-dark-200, 0.3);
        color: rgba($white, 0.8);

        span {
          position: relative;
          margin-right: 0.6rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}
